<template name="landing">
	<div class="container-fluid landing-container">
		<br>
		<br>
		<div class="row">
			<div class="hook">
				<p style="font-weight: 400; text-align: center;">HydraForce</p>
			</div>
			<div style="text-align: center;">
				<i>"Like a fun and exciting version of salesforce." - Some Team Member</i>
			</div>
		</div>

    	<div class="row">
    		<div class="card login-card 
    			col-lg-offset-4 col-lg-4
    			col-md-offset-3 col-md-6
    			col-sm-offset-2 col-sm-8
    			col-xs-offset-1 col-xs-10">
    			<div class="row">
	    			<div class="btn-group btn-group-landing col-xs-10 col-xs-offset-1" role="group" aria-label="Sign In or Sign Up">
						  <button type="button" class="btn btn-landing signin-btn">Sign In</button>
						  <button type="button" class="btn btn-landing pull-right signup-btn">Sign Up</button>
					</div>
				</div>
    			{{#if session 'signupflow' }}
    				{{> signup}}
    			{{else}}
    				{{> signin}}
    			{{/if}}
    		</div>
    	</div>
  	</div>
</template>

<template name="signup">
	<form>
		<h2 style="text-align: center; margin: 0;" class="log-text">Sign Up</h2>
		<br>
		<div class="form-group">
			<label for="inputEmail" class="col-xs-3 log-text">Email</label>
			<div class="col-xs-9">
				<input type="email" name="email" class="form-control" id="focused" placeholder="example@domain.com">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword" class="col-xs-3 log-text">Password</label>
			<div class="col-xs-9">
				<input type="password" name="password" class="form-control" id="focused" placeholder="password...">
			</div>
		</div>
		<div class="form-group">
			<label for="inputConfirm" class="col-xs-3 log-text">Confirm Password</label>
			<div class="col-xs-9">
				<input type="password" name="confirm" class="form-control" id="focused" placeholder="password...">
			</div>
			<div class="pull-right">
				<input role="button" type="submit" id="signupSubmit" class="btn btn-primary btn-raised signup-button" value="Sign Up" style="margin-right: 15px;"/>
			</div>
		</div>
	</form>
</template>


<template name="signin">
	<form>
		<h2 style="text-align: center; margin-top: 0;" class="log-text">Sign In</h2>
		<div class="form-group">
			<label for="inputEmail" class="col-xs-3 log-text">Email</label>
			<div class="col-xs-9">
				<input type="email" name="email" class="form-control" id="focused" placeholder="example@domain.com">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword" class="col-xs-3 log-text">Password</label>
			<div class="col-xs-9">
				<input type="password" name="password" class="form-control" id="focused" placeholder="password...">
			</div>
			<div class="pull-right">
				<input role="button" type="submit" id="signupSubmit" class="btn btn-primary btn-raised signup-button" value="Sign In" style="margin-right: 15px;"/>
			</div>
		</div>
	</form>

</template>