<template name="sidenav">
  <div class="sidebar-wrapper hidden-xs">
    <div class="sidenav-item">
      <a href="{{pathFor 'dashboard' }}"><span class="glyphicon glyphicon-dashboard sidenav-icon"></span></a>
    </div>
    <div class="sidenav-item">
      <a href="{{pathFor 'contactList' }}"><span class="glyphicon glyphicon-user sidenav-icon"></span></a>
    </div>
    <div class="sidenav-item">
      <a href="{{pathFor 'newContact' }}"><span class="glyphicon glyphicon-plus sidenav-icon"></span></a>
    </div>
  </div>
</template>
