<template name="dashboard">
    <div class="card shadow" style="margin-top:-25px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 text-center">
                    <a href="" id="Email" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-envelope"></span> Email</a>
                </div>
                <div class="col-xs-3 text-center">
                    <a href="" id="Phone" class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-earphone"></span> Phone</a>
                </div>
                <div class="col-xs-3 text-center">
                    <a href="" id="Text" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-comment"></span> Text</a>
                </div>
                <div class="col-xs-3 text-center">
                    <a href="" id="All" class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-plus-sign"></span> All</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
      {{> recentInteractions}}
    </div>
</template>
