<template name="contact">
  <div class="container">
    <div class="card shadow">
      <div class="row">
        <div class="col-sm-3 text-center">
          <img src="https://scontent.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/11181254_945986952120715_7882439799246348485_n.jpg?oh=db6559d3109ef35f14c4de4af54ea7e6&oe=564C78C7" class="circular-contact-picture content">
          <h4><b>#: 973-555-5555</b></h4>
          <h4><b>@: Bob@realcompany.com</b></h4>
        </div>
        <div class="col-sm-9">
          <h1><b>James Reilly</b></h1>
          <h5>Customer Since 2005</h5>
          <hr>
          <h4><b>Notes</b></h4>
          <div contenteditable="true" class="contact-notes">
            James is the best
          </div>

        </div>

      </div>

    </div>
  </div>
</template>
